html {
	animation-name: background_color;
	animation-duration: 40s;
	animation-iteration-count: infinite;
}
body{
	font-family: 'Bellefair', serif;
	width: 100%;

}

#first_body {
	text-align: center;
	color: #333333;
	font-size: 35px;
	margin-top: 20px;
}

.days {
	font-size: 25px;
}

.link {
	margin-left: 25px;
	text-decoration: none;
	color: grey;
}

.active {
	background-color: #4caf50;
}

.days a:hover {
	color: aqua;
	text-decoration: none;
}




