html {
	animation-name: background_color;
	animation-duration: 40s;
	animation-iteration-count: infinite;
}
body{
	font-family: 'Bellefair', serif;
	width: 100%;

}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

header > ul {
	list-style: none;
	margin: 5px;
	padding: 5px;
	box-shadow: 5px 10px 8px #888888;
	background-color: #333333;
}

header>ul>li {
	float: left;
}

li a {
	display: block;
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	width: 80px;
}

li a:hover {
	transition: 0.3s;
	background-color: #3e8e41;
}


#first_body {
	text-align: center;
	color: #333333;
	font-size: 35px;
	margin-top: 100px;
}

.days {
	font-size: 25px;
}

.link {
	margin-left: 25px;
	text-decoration: none;
	color: grey;
}

.active {
	background-color: #4caf50;
}

.days a:hover {
	color: aqua;
}

/* for drop down menu */

/* Dropdown Button */
.dropbtn {
	width: 120px;
    padding: 16px;
	font-size: 16px;
	border: none;
	background: #333333;
	color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
	display: inline-block;
	background: #333333;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align: center;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	transition: 0.3s;
	background-color: #3e8e41;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	transition: 0.3s;
	background-color: #3e8e41;
}



