body {
	letter-spacing: 3px;
	text-align: center;
}
header{
	height: 20px;
	margin-bottom: 30px;
	padding: 20px 20px;
	background-color: #fafafa; 
	border-bottom: 5px solid #009786;
}
#ajax {
	float: left;
}
#link_container {
	float: right;
}

a{	
	color: black;
	text-decoration: none;
}

#container {
	margin-top: 50px;
}
#content{
	margin-top: 50px;
}
button {
	box-shadow: 1px 1px 1px grey;
	font-size: 25px;

}
